<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <!--form-->
      <form class="mt-5" action="/create" method="POST">
        <div class="mb-2">
          <label for="restaurant_name" class="form-label">餐廳名稱</label>
          <input type="text" class="form-control" id="restaurant_name" name="name"
            placeholder="Please type the restaurant name...">
        </div>
        <div class="mb-2">
          <label for="restaurant_name_en" class="form-label">英文名稱</label>
          <input type="text" class="form-control" id="restaurant_name_en" name="name_en"
            placeholder="Please type the restaurant English name...">
        </div>
        <div class="mb-2">
          <label for="restaurant_category" class="form-label">類型</label>
          <input type="text" class="form-control" id="restaurant_category" name="category"
            placeholder="Please type the category...">
        </div>
        <div class="mb-2">
          <label for="restaurant_image" class="form-label">圖片</label>
          <input type="url" class="form-control" id="restaurant_image" name="image"
            placeholder="Please type the restaurant url...">
        </div>
        <div class="mb-2">
          <label for="restaurant_location" class="form-label">地址</label>
          <input type="text" class="form-control" id="restaurant_location" name="location"
            placeholder="Please type the location...">
        </div>
        <div class="mb-2">
          <label for="restaurant_phone" class="form-label">電話</label>
          <input type="tel" class="form-control" id="restaurant_phone" name="phone"
            placeholder="Please type the phone number...">
        </div>
        <div class="mb-2">
          <label for="restaurant_map" class="form-label">地圖</label>
          <input type="url" class="form-control" id="restaurant_map" name="google_map"
            placeholder="Please type the map url...">
        </div>
        <div class="mb-2">
          <label for="restaurant_rating" class="form-label">評分</label>
          <input type="text" class="form-control" id="restaurant_rating" name="rating"
            placeholder="Please type the rating...">
        </div>
        <div class="mb-2">
          <label for="restaurant_description" class="form-label">筆記</label>
          <input type="text" class="form-control" id="restaurant_description" name="description"
            placeholder="Please type the description...">
        </div>

        <button type="submit" class="btn btn-danger">送出</button>
      </form>
    </div>
  </div>
</div>